*{margin:0 auto 0 auto;}

a img{border:none;}

header, section, footer, aside, nav, {
display:block;
}

body
{
background:linear-gradient(15deg, #669999 20%, #003366 80%);
font-family: Georgia,Rockwell,sens-serif,verdana;
margin:0;
padding:0;
}

/*------------------------------------------------Search Field--------------------------------------------------------*/

#search {

    float:right;
    overflow:hidden;
    margin-right:40px;
    margin-top:-50px;
}
#search form {
    float:left;
    background:url(../images/search1.png) no-repeat scroll 0 0 transparent;
    height:28px;
    width:196px;
	
}
#search form input[type="text"] {
  
    background:none repeat scroll 0 0 transparent;
    border:medium none;
    float:left;
    height:18px;
    margin:0;
    overflow:hidden;
    padding:4px 4px 4px 11px;
	
  }
#search form input[type="submit"] {
    background:url(../images/search2.png) no-repeat scroll 0 0 transparent;
    border:medium none;
    cursor:pointer;
    float:left;
    height:28px;
    margin:0;
    overflow:hidden;
    padding:0;
    width:26px;
	
}


/*-------------------------------------------Container------------------------------------------------*/
.container{
width:100%;
}

/*----------------------------------------Top Menu---------------------------------------*/

#top-menu{

float:right;
margin-right:350px;
margin-top:-65px;
}
#top-menu ul li{
list-style:none;
display:inline;
}

#top-menu ul li a{
display:inline-block;

}
#top-menu ul li a{
display:inline-block;

}

#top-menu .fblink{
background-image:url(../images/FB2.png);
width:50px; height:50px;
}
#top-menu .fblink:hover{
background-image:url(../images/FB1.png);
width:50px; height:50px;
}
#top-menu .twitter{
background-image:url(../images/TW2.png);
width:50px; height:50px;
}
#top-menu .twitter:hover{
background-image:url(../images/TW1.png);
width:51px; height:50px;
}
#top-menu .linkedin{
background-image:url(../images/LK2.png);
width:51px; height:50px;
}
#top-menu .linkedin:hover{
background-image:url(../images/LK1.png);
width:50px; height:50px;
}
#top-menu .googlePlus{
background-image:url(../images/gp2.png);
width:50px; height:50px;
}
#top-menu .googlePlus:hover{
background-image:url(../images/gp1.png);
width:50px; height:50px;
}
/*--------------------------------------------Header----------------------------------------------*/


header{
width:auto;
margin-top:80px;
height:150px;
background:linear-gradient(180deg, #EBFFFF 20%, #3399FF 80%);

}

.logo{

margin-left:50px;

}

#menu{
width:1000px;
height:85px;
display:block;
margin-top:-58px;
margin-left:430px;
clear:both;
font-family:Rockwell;
}

#menu ul{
display:inline;

}

#menu li {
list-style:none;
display:inline;
}
#menu a{
text-decoration:none;
list-style:none;
display:inline;
margin-left:-2px;
margin-right:-1px;
padding-left:55px;
padding-right:55px;
padding-top:30px;
padding-bottom:30px;
font: 22px bold rockwell;
color:#CCFFFF;
background:linear-gradient(180deg, #000F3D 10%, #0033CC 90%);
border-top-left-radius:40px;
border-top-right-radius:5px;
-moz-border-top-left-radius:40px;
-moz-border-top-right-radius:5px;
}
#menu a:hover{
background:linear-gradient(180deg, #0033CC 10%, #000F3D 90%);
}
.scontainer{
margin-top:0px;
height:1060px;
}



/*-------------------------grid------------------------------------------*/

.gridcontainer{
margin-left:370px;
margin-top:30px;
width:1500px;
height:450px;
display:block;
}

.gridcontainer h2{
font:22px rockwell;
color:#CCFFFF;
padding-top:20px;
padding-left:35px;
}
 #grid1, #grid2, #grid3{
display:inline-block;
}
.gridimage{
margin-top:20px;
margin-left:35px;
}
.gridimage a{
display:block;
}

.gridbutton {
width:450px;
height:50px;
background:linear-gradient(180deg, #669999 1%, #0033CC 99%);
margin-top:-5px;
}
.gridbutton:hover{
background:linear-gradient(0deg, #000F3D 10%, #0099FF 90%);
}

.gridbutton a{
padding-top:10px;
font:22px normal rockwell;
margin-left: 150px;
text-decoration:none;
color:#CCFFFF;
}
.gridbutton1 {
width:450px;
height:50px;
background:linear-gradient(180deg, #669999 1%, #0033CC 99%);
margin-top:-5px;
}
.gridbutton1:hover{
background:linear-gradient(0deg, #000F3D 10%, #0099FF 90%);
}
.gridbutton1 a{
padding-top:10px;
font:22px normal rockwell;
margin-left: 180px;
text-decoration:none;
color:#CCFFFF;
}
/*--------------------------EoF grid---------------------------------------*/

footer{
width:auto;
margin-top:60px;
height:250px;
background:linear-gradient(180deg, #EBFFFF 20%, #3399FF 80%);
font-family:verdana;
}
/*----------------------------------------Footer Top Menu---------------------------------------*/

#top-menu-footer{

float:right;
margin-right:120px;
margin-top:30px;
}
#top-menu-footer ul li{
list-style:none;
display:inline;
}

#top-menu-footer ul li a{
display:inline-block;

}
#top-menu-footer .fblink{
background-image:url(../images/FB2.png);
width:50px; height:50px;
}
#top-menu-footer .fblink:hover{
background-image:url(../images/FBF1.png);
width:37px; height:37px;
}
#top-menu-footer .twitter{
background-image:url(../images/TW2.png);
width:50px; height:50px;
}
#top-menu-footer .twitter:hover{
background-image:url(../images/TWF1.png);
width:37px; height:37px;
}
#top-menu-footer .linkedin{
background-image:url(../images/LK2.png);
width:51px; height:50px;
}
#top-menu-footer .linkedin:hover{
background-image:url(../images/LKF.png);
width:38px; height:37px;

}
#top-menu-footer .googlePlus{
background-image:url(../images/gp2.png);
width:50px; height:49px;
margin-left:0px;
}
#top-menu-footer .googlePlus:hover{
background-image:url(../images/gpf.png);
width:43px; height:37px;
margin-left:-6px;
}

#link-footer1, #link-footer2, #link-footer3{
display:inline-block;
padding:30px;
}

.foothead{
font: bold 16px rockwell;
}

.foothead a{
text-decoration:none;
color:#000;
}
.foothead a:hover{
color:#1A334C;
}

#link-footer1{
margin-left:80px;
}
#link-footer1 li{
list-style:none;
}

#link-footer1 li a{
text-decoration:none;
font:14px bold verdana;
color:#000;
margin-left:-40px;
}
#link-footer1 li a:hover{
color:#1A334C;
}
#link-footer2{

}
#link-footer2 li{
list-style:none;
}

#link-footer2 li a{
text-decoration:none;
font:14px bold rockwell;
color:#000;
margin-left:-40px;
}
#link-footer2 li a:hover{
color:#1A334C;
}

#link-footer3{

}
#link-footer3 li{
list-style:none;
}

#link-footer3 li a{
text-decoration:none;
font:14px bold rockwell;
color:#000;
margin-left:-40px;
}

#link-footer3 li a:hover{
color:#1A334C;
}
#link-footer4 {
margin-top:-88px;
margin-left:610px;
}
#link-footer5 {
margin-top:8px;
margin-left:610px;
}
